.about-container {
    grid-template-columns: 3fr 9fr;
    column-gap: 1.875rem;
}

.about-data {
    background-color: var(--container-color);
    box-shadow: var(--shadow);
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.875rem;
    align-items: flex-start;
    position: relative;
}

.about-skills {
    row-gap: 1rem;
    padding: 1rem;
}

.skills-titles {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.skills-name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.skills_number {
    line-height: 1.2;
}

.skills-bar,
.skills-percentage {
    height: 7px;
    border-radius: 0.25rem;
}

.skills-bar {
    background-color: #f1f1f1;
}

.skills-percentage {
    display: block;
}

.cyber-iot {
    width: 35%;
    background-color: rgb(255, 209, 92);
}

.front-end {
    width: 85%;
    background-color: rgb(255, 76, 96);
}

.full-stack {
    width: 70%;
    background-color: rgb(108, 108, 299);
}

.ai-ml-dl {
    width: 50%;
    background-color: rgb(108, 209, 99);
}

.mobile-andro-os {
    width: 40%;
    background-color: rgb(242, 136, 50);
}

@media screen and (max-width: 1024px) {
    .about-container {
        grid-template-columns: 720px;
        justify-content: center;
        row-gap: 1.875rem;
    }

    .about-img {
        justify-self: center;
    }
}

@media screen and (max-width: 768px) {
    .about-container {
        grid-template-columns: 350px;
    }

    .about-data {
        grid-template-columns: 1fr;
        row-gap: 1.875rem;
    }
}

@media screen and (max-width: 576px) {
    .about-container {
        grid-template-columns: 320px;
    }
}

@media screen and (max-width: 350px) {
    .contact-container {
        grid-template-columns: 1fr;
    }
}