.home {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro {
    max-width: 540px;
    text-align: center;
    padding: 5.75rem;
    border-radius: 1.5rem;
}

.home-img {
    margin-bottom: 1.5rem;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.home-name {
    font-size: var(--h1-font-size);
    font-weight: var(--gont-bold);
    margin-bottom: 0.5rem;
}

.home-socials {
    display: flex;
    column-gap: 1.75rem;
    margin: 1.5rem 0;
}

.home-social-link {
    color: var(--title-color);
    font-size: 1.3rem;
    transition: .3s;
}

.home-social-link:hover{
    color: #ea580c;
}

.scroll-down {
    position: absolute;
    left: 0;
    bottom: 2.5rem;
    width: 100%;
}

.home-scroll-name {
    font-size: var(--small-font-size);
}

.mouse {
    border: 2px solid #f59e0b;
    display: block;
    height: 1.6rem;
    width: 1.25rem;
    margin: auto;
    margin-top: .75rem;
    border-radius: 1rem;
    position: relative;
}
@keyframes ani-mouse {
    0%{
        top: 25%;
    }

    15%{
        top: 50%;
    }

    50%{
        top: 50%;
    }

    100%{
        top: 25%;
    }
}

.wheel {
    background-color: var(--title-color);
    border-radius: 100%;
    width: 0.25rem;
    height: 0.25rem;
    position: absolute;
    top: .5rem;
    left: 50%;
    transform: translateX(-50%);
    animation: ani-mouse 1s linear infinite;
}


@media screen and (max-width: 1024px) {
    .home-social-link {
        font-size: 1.125rem;
    }
  }